html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.boxcode {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 180px;
    height: 300px;
    border-radius: 15px;
    box-shadow: -3px 3px 10px 3px hsla(216, 15%, 48%, 0.205);
}   

.image-qr-code {
    display: flex;
    justify-content: center;
    width: 170px;
}

.image {
    max-width: 94%;
    max-height: 59, 83%;
    border-radius: 10px;
}

.textel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4px;
    max-width: 160px;
}

.heading {
    margin: 0;
    margin-bottom: 3px;
    color: hsl(218, 44%, 22%);
    font-size: 13px;
    font-weight: 700;
}

.maintext   {
    color:hsl(216, 15%, 48%);
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;  
}

/* Next time i should use relative unities */
