html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.boxcode {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: 390px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 3px hsla(216, 15%, 48%, 0.205);
}   

.image-qr-code {
    display: flex;
    justify-content: center;
    width: 235px;
}

.image {
    max-width: 94%;
    max-height: 59,83%;
    border-radius: 10px;
}

.textel {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    max-width: 190px;
}

.heading {
    margin: 0;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    font-size: 16px;
    font-weight: 700;
}

.maintext   {
    color:hsl(216, 15%, 48%);
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 20px;  
}
